# Project: Leidos Upskilling Hub Workshop
Description: This project is for the Leidos Upskilling Hub Workshop. It is a web application that allows the Leidos Upskilling team employees to create and manage learning experiences.

# Tech Stack
Frontend:
- Next.js 15
- React 19
- Tailwind CSS
- Shadcn UI
- React Hook Form
- React Dropzone
- React Beautiful DND
- React Day Picker
- React Resizable Panels
- Recharts
- Sonner
- Zod
- Zustand
- TypeScript
Backend:
- Python
- FastAPI
- LangChain
- Huggingface
- LlamaCpp
- Pydantic

# General Code Style & Formatting
- Follow the Airbnb Style Guide for code formattingś
- Use PascalCase for React component file names (e.g., UserCard.tsx, not user-card.tsx).
- Prefer named exports for components.

# Project Structure & Architecture
- Follow Next.js patterns and use the App Router.
- Correctly determine when to use server vs. client components in Next.js.

# Styling & UI
- Use Tailwind CSS for styling.
- Use Shadcn UI for components.

# Data Fetching & Forms
- Use React Hook Form for form handling.